@page "/"

@*@inject IDemo _demo
@inject IDemo _demo2*@

@inject IEnumerable<IDemo> _demos
@inject ProcessDemo _processDemo

<h1>Hello, world!</h1>

@foreach (var item in _demos)
{
    @if (item is ILocalDemo)
    {
        <h2>Local Demo: @item.StartupTime.ToString("hh:mm:ss ffffff")</h2>
    }

    @if (item is IUtcDemo)
    {
        <h2>UTC Demo: @item.StartupTime.ToString("hh:mm:ss ffffff")</h2>
    }
}

@*<h2>Demo Time: @_demo.StartupTime.ToString("hh:mm:ss ffffff")</h2>
<h2>Demo2 Time: @_demo2.StartupTime.ToString("hh:mm:ss ffffff")</h2>*@
<h3>Days in Month: @_processDemo.GetDaysInMonth()</h3>
<h3>Another number: @_processDemo.AnotherNumber</h3>

Welcome to your new app.

@code{
    Models.PersonModel p = new Models.PersonModel();
}